.app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  /* height: 96vh; */
  background-color: whitesmoke;
  font-family: 'Arial', sans-serif;
  padding-top: 40px;
}

.header {
  background-color: #282c34;
  max-width: 1400px;
  color: #61dafb;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  border-radius: 8px;
}

.subHeading {
  color:#282c34;
  font-size: 20px;
  font-weight: bold;
  padding: 6px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 8px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.product-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.product-details {
  padding: 15px;
  text-align: center;
}

h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333333;
}

p {
  font-size: 16px;
  color: #555555;
  margin-bottom: 10px;
}

button {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  background-color: #61dafb;
  color: #282c34;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}

button:hover {
  background-color: #21a1f1;
}
